<hr>    

    <h1 id="band">Band</h1>
    
    
    <div class="grid band-para">
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-2-2 unit-xl-2-2">
        
        <img src="../images/lnr.jpg" class="lnr-pic">
        
        </div>
        
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
      
            <p>
            Mastermind Damon Kelly and his brainchild LOVE N REVENGE is a spawn of his first two albums successfully released internationally fronting Rockarma working with multi platinum selling artists and sharing the stage with Vince Neil, Bret Michaels, Queensryche, Slaughter, Tesla, Dokken, Firehouse, Jackyl, LA Guns, Great White, Skid Row, and the list goes on… The calibre of musicianship with LNR is absolutely top shelf right from the studio to the explosive live show that keeps fans coming back for more and putting LNR at the top of the ranks by popular demand.  </p>
               </div>
              <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        <p>The debut single “GET THIS SUCKER STARTED” off the record exploded worldwide hitting 12,000 radio stations still on steady rotation. The demand is undeniable and LNR is releasing the second single “BREATHE” with the Video hitting internationally early February 2016. LNR channels will have the Album and Video streaming on MTV, Much Music, KDigital Korea, Mood Media, Touchtunes, The Cool TV just to name a few as the veterans prepare for the live tours taking rock n roll into a different stratosphere. 
            </p>
 </div>
            
                <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">   
      
            
            <p>The face of Arena Rock has been embedded by the best of the best and it is clearly time for a fresh face and sound emulating the biggest era on the planet of Pure Guitar Driven Melodic Arena Rock. LOVE N REVENGE is the Resurrection of this timeless era and will continue to be a staple internationally.</p>
            
            </div>
        </div>
        