 <div class="contact" id="contact" >
                <h1>Contact.</h1>
                    <ul>    
                        <li>
                            Love 'N Revenge
                        </li>
                
                    </ul>     
            
                    <ul>    
                
                        <li>
                            <address> 
                                <a target="_blank" href= "mailto:info@lovenrevenge.com" class="email">
                    info@lovenrevenge.com</a>
                            </address>
                        </li>
                
                    </ul> 
                    
        </div>
        
                
     <ul class="social-container">
        
        <li class="social opacity">
            <a target="_blank" href="https://www.facebook.com/Love-N-Revenge-195729757121283/?fref=ts">   
                <img src="images/fb.svg" class="social-icon">  
            </a> 
        </li>
            
        <li class="social opacity">
            <a target="_blank" href="https://twitter.com/LOVENREVENGE">
                <img src="images/twitter.svg" class="social-icon">    
            </a>
        </li>
    </ul>
