<hr>
<h1> Music </h1>
<div class="grid">
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
            <div class="album-cover" id="music">
                <img src="../images/cover.jpg" alt="Breathe album cover" class="cover">
                
                </div>
        </div>
                
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        <div class="title-bg">
        
            <h2 class="vid-title">Debut Music Video:</h1>
            <h1 class="vid-sub-title">Breathe</h1>
            
        </div>
        
        <p>LOVE N REVENGE has taken on the scene by storm with their latest release “BREATHE”, one of the most highly anticipated album releases of 2016.</p>
        
        <ul class="credits">
            
             <li>
                <strong>LOVE 'N REVENGE</strong>
            </li>
            
            <li>
                <strong>Record Label:</strong> AMG/AWAL/KOBALT
            </li>
            
            <li>
                <strong>Publicist:</strong> Michael Levine Media
            </li>
            
            <li>
                <strong>Video Productions:</strong> The Trenches Media
            </li>
        
        </ul>  
        
            <div class="apple-music">
            <a target="_blank" href="https://geo.itunes.apple.com/ca/album/breathe/id1031731455?i=1031731464&mt=1&app=music" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_music-lrg.svg) no-repeat;width:165px;height:40px;"></a>
                
            </div>
                
            </div>
    
  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">    
      <hr>
      <h2>Albums</h2>
     
</div>
    
    
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
         
        
        <figure class="covers">
            <img src="../images/girl.png" alt="girl album cover" class="album-covers">
            
            <caption>Bring It JAPAN- ROCKARAMA</caption>
        </figure>
    
    
    </div>

    
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        
        <figure class="covers">
            <img src="../images/hammer.png" alt="girl album cover" class="album-covers">
            
            <caption>Bring It - ROCKARAMA</caption>
        </figure>
    
    
    </div>
    
            <div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        
        <figure class="covers">
            <img src="../images/rock.png" alt="girl album cover" class="album-covers">
            
            <caption>Rockarama - ROCKARAMA</caption>
        </figure>
    
    
    </div>
    
    
    
                
        </div>
 
    