<div class="container">
    
    <div class="grid">
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
            <div class="album-cover">
                <img src="../images/cover.jpg" alt="Breathe album cover" class="cover">
                
                </div>
        </div>
                
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        <div class="title-bg">
        
            <h2 class="vid-title">Debut Music Video:</h1>
            <h1 class="vid-sub-title">Breathe</h1>
            
        </div>
        
        <p>LOVE N REVENGE has taken on the scene by storm with their latest release “BREATHE”, one of the most highly anticipated album releases of 2016.</p>
        
        <ul class="credits">
            
             <li>
                <strong>LOVE 'N REVENGE</strong>
            </li>
            
            <li>
                <strong>Record Label:</strong> AMG/AWAL/KOBALT
            </li>
            
            <li>
                <strong>Publicist:</strong> Michael Levine Media
            </li>
            
            <li>
                <strong>Video Productions:</strong> The Trenches Media
            </li>
        
        </ul>  
        
           <a href="https://geo.itunes.apple.com/ca/album/breathe/id1031731455?i=1031731464&mt=1&app=music" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_music-lrg.svg) no-repeat;width:165px;height:40px;"></a>
                
            </div>
                
        </div>
    
            <hr>
    
      <h1 id="band">Band</h1>
    
    
    <div class="grid">
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-2-2 unit-xl-2-2">
        
        <img src="../images/lnr.jpg" class="lnr-pic">
        
        </div>
        
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
        
      
            <p>
            Mastermind Damon Kelly and his brainchild LOVE N REVENGE is a spawn of his first two albums successfully released internationally fronting Rockarma working with multi platinum selling artists and sharing the stage with Vince Neil, Bret Michaels, Queensryche, Slaughter, Tesla, Dokken, Firehouse, Jackyl, LA Guns, Great White, Skid Row, and the list goes on… The calibre of musicianship with LNR is absolutely top shelf right from the studio to the explosive live show that keeps fans coming back for more and putting LNR at the top of the ranks by popular demand.  </p>
                
        <p>The debut single “GET THIS SUCKER STARTED” off the record exploded worldwide hitting 12,000 radio stations still on steady rotation. The demand is undeniable and LNR is releasing the second single “BREATHE” with the Video hitting internationally early February 2016. LNR channels will have the Album and Video streaming on MTV, Much Music, KDigital Korea, Mood Media, Touchtunes, The Cool TV just to name a few as the veterans prepare for the live tours taking rock n roll into a different stratosphere. 
            </p>
            
            <p>The face of Arena Rock has been embedded by the best of the best and it is clearly time for a fresh face and sound emulating the biggest era on the planet of Pure Guitar Driven Melodic Arena Rock. LOVE N REVENGE is the Resurrection of this timeless era and will continue to be a staple internationally.</p>
            
            </div>
        
    
    
        
        
        
      
    
    
 
        
         </div> 
    