<div class="grid">
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
            <div class="album-cover" id="music">
                <img src="../images/cover.jpg" alt="Breathe album cover" class="cover">
                
                </div>
        </div>
                
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        <div class="title-bg">
        
            <h2 class="vid-title">Debut Music Video:</h1>
            <h1 class="vid-sub-title">Breathe</h1>
            
        </div>
        
        <p>LOVE N REVENGE has taken on the scene by storm with their latest release “BREATHE”, one of the most highly anticipated album releases of 2016.</p>
        
        <ul class="credits">
            
             <li>
                <strong>LOVE 'N REVENGE</strong>
            </li>
            
            <li>
                <strong>Record Label:</strong> AMG/AWAL/KOBALT
            </li>
            
            <li>
                <strong>Publicist:</strong> Michael Levine Media
            </li>
            
            <li>
                <strong>Video Productions:</strong> The Trenches Media
            </li>
        
        </ul>  
        
           <a target="_blank" href="https://geo.itunes.apple.com/ca/album/breathe/id1031731455?i=1031731464&mt=1&app=music" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_music-lrg.svg) no-repeat;width:165px;height:40px;"></a>
                
            </div>
                
        </div>
 
    