<header id="header" class="banner">
      <input type="checkbox" class="nav-check" id="nav-check">
	   <label class="nav-label" for="nav-check">
            <img src="images/ham.svg" alt="hamburger button" class="ham">
            <img src="images/x.svg" alt="x" class="x">
        </label>
     
     <div class="top-logo">
           <a href="index.html">
                <img src="images/lnr-01.svg" class="lr-logo">
            </a>
    </div>
      
        <ul class="mobile-nav">
        
                <a href="#music">
                    <li class="top-nav-li">
                         Music
                    </li>
                </a>
               
                <a href="#band">
                    <li class="top-nav-li">
                            Band
                    </li>
                </a>
            
             <a href="#contact">
                    <li class="top-nav-li">
                            Contact
                    </li>
                </a>
        </ul>  
      
      
      <ul class="dt-nav">
          
          <a href="#contact">
                <li>
                   Contact
                </li>
          </a>
            
          <a href="#band">
                <li>
                    Band
                </li>
            </a>
            
       
          
          <a href="#music">
                <li>
                    Music
                </li>
          </a>
      </ul>
     
</header>
