<h1 id="news">News</h1>


<div class="grid">   

        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
            
            
        <div class="news-box">
               <div class="news-bg">
                <h2>
                February 16th 2016:
                </h2>
                
            </div>

            <h1>
           “Breathe”, el nuevo videoclip de Love ‘N Revenge
            </h1>

            <p>
           La banda de glam / hard oriunda de Los Angeles Love ‘N Revenge ha lanzado su nuevo videoclip, que corresponde al tema “Breathe“, una balada incluida en su disco debut ‘Revenge ‘N Love‘, editado el año pasado...
                </p>
            
            <p>Read the full article here: <a target="_blank" href="http://www.rockmelodico.com/2016/02/breathe-el-nuevo-videoclip-de-love-n-revenge.html">Rock Melodico</a></p>

    </div>
    </div>
    
    
    
        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
        <div class="news-box">
            
            <div class="news-bg">
                <h2>
                February 5th 2016:
                </h2>
                
            </div>

            <h1>
           Veteran Rocker Damon Kelly To Record Bowie Song Tribute
            </h1>

            <p>
           LOS ANGELES, /PRNewswire/ - With two successful International album releases under their belt, the acclaimed rock group, "LOVE N' REVENGE," fronted by rock veteran Damon Kelly, is going into the Red V Studios in New York to record the David Bowie classic "Fame" as a tribute to the late music icon. Kelly, who has a long history in melodic rock, will release the song internationally in Spring 2016.
            </p>
            
            <p>Read the full article here: <a target="_blank" href="http://finance.yahoo.com/news/veteran-rocker-damon-kelly-record-191300285.html"> Yahoo Finance</a></p>

    </div>
    </div>
    
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
        <div class="news-box">
               <div class="news-bg">
                <h2>
                February 5th 2016:
                </h2>
                
            </div>

            <h1>
            Damon Kelly to Record Bowie Song Tribute
            </h1>

            <p>
           LOS ANGELES, /PRNewswire/ -- With two successful International album releases under their belt, the acclaimed rock group, "LOVE N' REVENGE," fronted by rock veteran Damon Kelly, is going into the Red V Studios in New York to record the David Bowie classic "Fame" as a tribute to the late music icon. Kelly, who has a long history in melodic rock, will release the song internationally in Spring 2016.
                </p>
            
            <p>Read the full article here: <a target="_blank" href="http://www.prnewswire.com/news-releases/veteran-rocker-damon-kelly-to-record-bowie-song-tribute-300216093.html"> PR Newswire</a></p>

    </div>
        
    </div>
    
    
        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">

    <div class="news-box">
          <div class="news-bg">
                <h2>
                December 19th 2013:
                </h2>
                
            </div>
    
        <h1>
        Damon Kelly: Guest on LA Talk Radio
        </h1>
    
        <p>
        Damon Kelly is going to be a guest star on a show called Sam in the Morning with Mia Doran on Thursday December 19th at 10 to 11am PST for the full hour! Come listen in! Live, unplugged and uncensored...ish!
        </p>

    </div>
            
            </div>
        
            <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
    
    
    <div class="news-box">
             <div class="news-bg">
                <h2>
                December 18th 2013:
                </h2>
                
            </div>

            <h1>
            Damon Kelly: Guest on Film On Live
            </h1>

            <p>
            Damon Kelly will be a guest on Film On Live with Celebrity host Kato Kailen. Check it out on Wednesday December 18th at 2:00pm PST. Check it out. You never know what might happen. 
            </p>

    </div>
            
            </div>
            
    </div>
    
    </div>   
    
