<div class="container">
    
    <h1>News</h1>

    <div class="news-box">
        <h2>
        December 19, 2013:
        </h2>
    
        <h1>
        Damon Kelly: Guest on LA Talk Radio
        </h1>
    
        <p>
        Damon Kelly is going to be a guest star on a show called Sam in the Morning with Mia Doran on Thursday December 19th at 10 to 11am PST for the full hour! Come listen in! Live, unplugged and uncensored...ish!
        </p>

    </div>
    
    
    <div class="news-box">
            <h2>
            December 18, 2013:
            </h2>

            <h1>
            Damon Kelly: Guest on Film On Live
            </h1>

            <p>
            Damon Kelly will be a guest on Film On Live with Celebrity host Kato Kailen. Check it out on Wednesday December 18th at 2:00pm PST. Check it out. You never know what might happen. 
            </p>

    </div>
    
</div>