 
    <h1 id="news">News</h1>
    
    
    <div class="grid">
        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
        <div class="news-box">
            <h2>
            February 5th 2016:
            </h2>

            <h1>
           Veteran Rocker Damon Kelly To Record Bowie Song Tribute
            </h1>

            <p>
           LOS ANGELES, /PRNewswire/ - With two successful International album releases under their belt, the acclaimed rock group, "LOVE N' REVENGE," fronted by rock veteran Damon Kelly, is going into the Red V Studios in New York to record the David Bowie classic "Fame" as a tribute to the late music icon. Kelly, who has a long history in melodic rock, will release the song internationally in Spring 2016.
                </p>
            
            <p>

Damon Kelly grew up on the farm in Saskatchewan, Canada, to touring internationally, to living in Los Angeles the past couple years. Kelly explains that "what puts the biggest smile on my face and in my heart on a daily basis is knowing the power of my music is going to help someone or touch somebody's life in a certain way. That's what we are about as songwriters and artists. Our passion, drive, professionalism and undying determination to be one of the greatest rock 'n' roll bands of all time is second to none, and absolutely nothing will stop me and my team."
                
                </p>
            
            <p>

In regards to the upcoming recording, Kelly says, "There are influences in the music business, then there are influential icons that make you who you are as you take your craft to a different level inside your musical self. The late and great David Bowie has without a doubt been a huge part of the music I create, with his fire and soul touching the world and spreading the healing power through song, and will continue to be a prominent role model for all artists for many years to come."
                
                </p>
            
            <p>

To speak with Love N' Revenge, please contact Aurora DeRose at Aurora411@timewire.net or (310) 396-6090
            </p>
            
            <p>Source: <a href="http://finance.yahoo.com/news/veteran-rocker-damon-kelly-record-191300285.html"> Yahoo Finance</a></p>

    </div>
    </div>
    
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
        <div class="news-box">
            <h2>
            February 5th 2016:
            </h2>

            <h1>
            Damon Kelly to Record Bowie Song Tribute
            </h1>

            <p>
           LOS ANGELES, /PRNewswire/ -- With two successful International album releases under their belt, the acclaimed rock group, "LOVE N' REVENGE," fronted by rock veteran Damon Kelly, is going into the Red V Studios in New York to record the David Bowie classic "Fame" as a tribute to the late music icon. Kelly, who has a long history in melodic rock, will release the song internationally in Spring 2016.
                </p>
            
            <p>

Damon Kelly grew up on the farm in Saskatchewan, Canada, to touring internationally, to living in Los Angeles the past couple years. Kelly explains that "what puts the biggest smile on my face and in my heart on a daily basis is knowing the power of my music is going to help someone or touch somebody's life in a certain way. That's what we are about as songwriters and artists. Our passion, drive, professionalism and undying determination to be one of the greatest rock 'n' roll bands of all time is second to none, and absolutely nothing will stop me and my team."
                
                </p>
            
            <p>

In regards to the upcoming recording, Kelly says, "There are influences in the music business, then there are influential icons that make you who you are as you take your craft to a different level inside your musical self. The late and great David Bowie has without a doubt been a huge part of the music I create, with his fire and soul touching the world and spreading the healing power through song, and will continue to be a prominent role model for all artists for many years to come."
                
                </p>
            
            <p>

To speak with Love N' Revenge, please contact Aurora DeRose at Aurora411@timewire.net or (310) 396-6090
            </p>
            
            <p>Source: <a href="http://www.prnewswire.com/news-releases/veteran-rocker-damon-kelly-to-record-bowie-song-tribute-300216093.html"> PR Newswire</a></p>

    </div>
        
    </div>
    
    
        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">

    <div class="news-box">
        <h2>
        December 19, 2013:
        </h2>
    
        <h1>
        Damon Kelly: Guest on LA Talk Radio
        </h1>
    
        <p>
        Damon Kelly is going to be a guest star on a show called Sam in the Morning with Mia Doran on Thursday December 19th at 10 to 11am PST for the full hour! Come listen in! Live, unplugged and uncensored...ish!
        </p>

    </div>
            
            </div>
        
            <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
    
    
    <div class="news-box">
            <h2>
            December 18, 2013:
            </h2>

            <h1>
            Damon Kelly: Guest on Film On Live
            </h1>

            <p>
            Damon Kelly will be a guest on Film On Live with Celebrity host Kato Kailen. Check it out on Wednesday December 18th at 2:00pm PST. Check it out. You never know what might happen. 
            </p>

    </div>
            
            </div>
            
    </div>
    
